html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  background-color: #c5e4e7;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  height: 100vh;
  max-width: 90rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container--pall {
  padding-top: 3.375rem;
  padding-left: 3.75rem;
  padding-bottom: 3.375rem;
  padding-right: 3.75rem;
}

img.tip_cal_logo {
  padding-bottom: 2.5rem;
}

.none {
  display: none;
}

.grey {
  color: #5e7a7d;
}

.white {
  color: white;
}

.calculator__tip {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 22px;
  margin: 0.625rem 0;
}

@media (min-width: 64em) {
  .calculator__tip {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.calculator__radio {
  position: relative;
  padding: 1.25rem;
}

.calculator__radio label, .calculator__radio input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.calculator__radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f4fafa;
  background-color: #00494d;
  padding: 1.5rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.calculator__radio label:hover {
  opacity: 0.8;
}

@media (min-width: 64em) {
  .calculator__radio label {
    font-size: 1.5rem;
  }
}

.calculator__radio input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.calculator__radio input[type="radio"]:checked + label {
  color: #00494d;
  background-color: #26c0ab;
}

.calculator__radio input[type="radio"]:focus + label {
  outline: 4px dotted #26c0ab;
}

.calculator {
  height: 46rem;
  width: 23.4375rem;
  padding: 1.5rem;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 18px 2px #00494d;
          box-shadow: 0 0 18px 2px #00494d;
}

@media (min-width: 40em) {
  .calculator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
    gap: 1.5rem;
    height: auto;
    width: 100%;
    max-width: 60rem;
  }
  .calculator__left {
    width: 50%;
  }
  .calculator__right {
    width: 50%;
  }
}

@media (min-width: 64em) {
  .calculator {
    padding: 2rem;
  }
}

.calculator__left {
  margin-bottom: 1.625rem;
}

@media (min-width: 64em) {
  .calculator__left {
    padding: 0.625rem 1rem;
  }
}

.calculator__select-tip {
  padding: 1rem 0;
}

.calculator__flex-label {
  padding-top: 0.625rem;
  padding-bottom: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.calculator__label {
  font-size: 0.875rem;
  font-weight: 700;
}

.calculator__label.error_msg {
  color: #d48572;
  text-align: end;
}

@media (min-width: 64em) {
  .calculator__label {
    font-size: 1rem;
  }
}

.calculator__input {
  position: relative;
}

.calculator__icon {
  position: absolute;
  top: 12px;
  left: 15px;
}

@media (min-width: 64em) {
  .calculator__icon {
    top: 15px;
  }
}

.calculator__text {
  width: 100%;
  padding: 0.3125rem 0.75rem;
  background-color: #f4fafa;
  border: 2px solid transparent;
  border-radius: 5px;
  outline: none;
  font-size: 1.25rem;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  color: #00494d;
  text-align: end;
  cursor: pointer;
}

.calculator__text:focus {
  border: 2px solid #26c0ab;
}

.calculator__text.error {
  border: 2px solid #d48572;
}

@media (min-width: 64em) {
  .calculator__text {
    font-size: 1.5rem;
  }
}

.calculator__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  color: #f4fafa;
  background-color: #00494d;
  padding: 2rem 1.5rem;
  border-radius: 10px;
}

@media (min-width: 64em) {
  .calculator__right {
    padding: 3.25rem 2.5rem 2.5rem 2.5rem;
  }
}

.calculator__amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

@media (min-width: 64em) {
  .calculator__amount {
    margin-bottom: 2rem;
  }
}

.calculator__amount .label--one {
  font-size: 0.875rem;
  font-weight: 700;
}

@media (min-width: 64em) {
  .calculator__amount .label--one {
    font-size: 1rem;
  }
}

.calculator__amount .label--two {
  color: #7f9c9f;
  font-size: 0.75rem;
  font-weight: 700;
}

.calculator__amount--text {
  width: 60%;
  font-size: 2rem;
  font-weight: 700;
  color: #26c0ab;
  text-align: end;
}

@media (min-width: 64em) {
  .calculator__amount--text {
    font-size: 2.625rem;
  }
}

.calculator__amount--reset {
  width: 100%;
  margin-top: 1rem;
  padding: 0.625rem;
  color: #00494d;
  background-color: #0d686d;
  font-size: 1.125rem;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
}

.calculator__amount--reset.active {
  background-color: #26c0ab;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.calculator__amount--reset.active:hover {
  background-color: #6af1de;
}
/*# sourceMappingURL=style.css.map */